.container-activities-r {
    padding-top: 70px;
    padding-bottom: 20px;
}
.tittle-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
}
.tittle-activities h1{
    margin-top: 0;
}
