.container-filter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 200px;
}
.container-filter p{
    vertical-align: top;
    text-align: left;
    font-size: 13px;
    padding: 5px;
    margin-block-start: 0.4em;
    margin-block-end: 0.1em;
}