.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.container-oops {
    display: flex;
    flex-direction: column;
}