.containerNavBar {
    display: flex;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.container-button-navbar {
    display: flex;
    gap: 15px;
}
.container-button-navbar button {
    width: 150px;
}
.container-filter-sort-navbar {
    display: flex;
    gap: 15px;
}